﻿@{
    ViewData["Title"] = "GoMeal Cart";
}

<h1 class="text-center">@ViewData["Title"] </h1>

<body>
    <div>
        <img src="~/lib/Pictures/Front Page Welcome.png" class=" img" style="vertical-align: middle; width: 160px;
            height:100px; border: 2px solid white; border-radius: 5px; " onclick="GetCartItems();" />
        <h1>Review Your Order</h1>

        @Html.Raw(ViewBag.i1)
        @Html.Raw(ViewBag.i2)
        @Html.Raw(ViewBag.i3)
        @Html.Raw(ViewBag.i4)
        @Html.Raw(ViewBag.i5)
        @Html.Raw(ViewBag.i6)
        @Html.Raw(ViewBag.i7)
        @Html.Raw(ViewBag.i8)
        @Html.Raw(ViewBag.i9)
        @Html.Raw(ViewBag.i10)
        @Html.Raw(ViewBag.i11)
        @Html.Raw(ViewBag.i12)
        @Html.Raw(ViewBag.i13)
        @Html.Raw(ViewBag.i14)
        @Html.Raw(ViewBag.i15)
        @Html.Raw(ViewBag.i16)
        @Html.Raw(ViewBag.i17)
        @Html.Raw(ViewBag.i18)
        @Html.Raw(ViewBag.i19)
        @Html.Raw(ViewBag.i20)
        @Html.Raw(ViewBag.i21)
        @Html.Raw(ViewBag.i22)
        @Html.Raw(ViewBag.i23)
        <h3>Your total price is : @ViewBag.total</h3>

        <br />
        <br />

        @*        <input type="button" value="Update Order" onclick="window.location.href = 'Menu';" />*@

        <input type="button" value="Returen to Menu to update order" onclick="closeWindow();" />
        <br />
        <div><h4> Enter you payment informtaion </h4></div>

        <div class="container">

            <div class="row">
                <div class="col-50">
                    <h3>Billing Address</h3>
                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                    <input type="text" id="fname" name="firstname">

                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                    <input type="text" id="adr" name="address">
                    <label for="city"><i class="fa fa-institution"></i> City</label>
                    <input type="text" id="city" name="city">

                    <div class="row">
                        <div class="col-50">
                            <label for="state">State</label>
                            <input type="text" id="state" name="state">
                        </div>
                        <div class="col-50">
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" name="zip">
                        </div>
                    </div>
                </div>


            </div>

            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth">

            <div class="row">
                <div class="col-50">
                    <label for="expyear">Exp Year</label>
                    <input type="text" id="expyear" name="expyear">
                </div>
                <div class="col-50">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv">
                </div>
            </div>
        </div>

    </div>


    <input type="button" value="Complete your order" onclick="finalSubmit();" />
    </div>
    <br />
    <br />

</body>