﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
    <div class="text-center">
        <h1 class="display-4">Welcome To Go Meal. Your one stop meal headquarters!! </h1>
        <p>
            <img src="~/lib/Pictures/Front Page Welcome.png" class=" img" style="vertical-align: middle; width: 640px ; height:400px; border: 2px solid white; border-radius: 5px; " />

        </p>
        <button type="button" onclick="window.location.href = 'Home/Menu'">Start Your Order as a Guest</button>

        <p><button type="button" onclick="window.location.href = 'Login/Login'">Login</button></p>

    </div>
</div>
<p>Click the "Start Your Order" button to see Menu.</p>