﻿@using System.Globalization;
@{
    ViewData["Title"] = "GoMeal Menu";
}

<h1 class="text-center">@ViewData["Title"] </h1>

<style>
    span {
        display: flex;
        justify-content: space-between;
    }
</style>

@*/* This is the container for the header*/*@
<div onload="GetMenuQty();">


    <div class="column left">
        <p>Click picture to expand</p>
        <br>

        @*---------------------------------Breakfast-----------------*@


        <img src="~/lib/Pictures/Any style eggs.jpg" class="logo-img"
             type="button" onclick="bigPic('img4');" onload="GetMenuQty();" />


        <img src="~/lib/Pictures/Scrambled eggs with Chorizo.jpg" class="logo-img"
             type="button" onclick="bigPic('img11');"/>        


        <img src="~/lib/Pictures/Huevos Rancheros.jpg" class="logo-img"
             type="button" onclick="bigPic('img12');"/>


        <img src="~/lib/Pictures/Huevos a la Mexicana.jpg" class="logo-img"
                 type="button" onclick="bigPic('img5');"/>


        <img src="~/lib/Pictures/Oatmeal.jpg" class="logo-img"
             type="button" onclick="bigPic('img13');"/>

        <br>
        <br>
        <br>

        @*---------------------------------Soups-----------------*@

        <img src="~/lib/Pictures/Caldo de Res.jpg" class="logo-img"
                 type="button" onclick="bigPic('img14');"/>


        <img src="~/lib/Pictures/Menudo.jpg" class="logo-img"
             type="button" onclick="bigPic('img6');"/>


        <img src="~/lib/Pictures/Pozole.jpg" class="logo-img"
             type="button" onclick="bigPic('img15');"/>

        <br>
        <br>
        <br>        

        @*---------------------Plates -----------------------------------*@

        <img src="~/lib/Pictures/Asado de Puerco.jpg" class="logo-img"
             type="button" onclick="bigPic('img16');" />


        <img src="~/lib/Pictures/Barbacoa.jpg" class="logo-img"
             type="button" onclick="bigPic('img17');" />


        <img src="~/lib/Pictures/Carnitas.jpg" class="logo-img"
             type="button" onclick="bigPic('img2');" />


        <img src="~/lib/Pictures/Enchiladas.jpeg" class="logo-img"
             type="button" onclick="bigPic('img7');" />


        <img src="~/lib/Pictures/Fajitas de Pollo.jpeg" class="logo-img"
             type="button" onclick="bigPic('img8');" />


        <img src="~/lib/Pictures/Fajitas de Res.jpg" class="logo-img"
             type="button" onclick="bigPic('img9');" />


        <img src="~/lib/Pictures/Flautas.jpg" class="logo-img"
             type="button" onclick="bigPic('img18');" />


        <img src="~/lib/Pictures/Chicharron en salsa verde.jpg" class="logo-img"
             type="button" onclick="bigPic('img3');" />

        <br>
        <br>
        <br>


        @*--------------------------Desserts------------------------*@

        <img src="~/lib/Pictures/Arroz con leche.jpg" class="logo-img"
             type="button" onclick="bigPic('img1');" />


        <img src="~/lib/Pictures/Galletas de Mantequilla.jpg" class="logo-img"
             type="button" onclick="bigPic('img10');" />


        <img src="~/lib/Pictures/Pastel de 3 leches.jpg" class="logo-img"
             type="button" onclick="bigPic('img19');" />

        <br>
        <br>
        <br>

        @*---------------------Beverages-----------------------------------*@

        <img src="~/lib/Pictures/Coffe.jpeg" class="logo-img"
             type="button" onclick="bigPic('img20');" />


        <img src="~/lib/Pictures/Ice Tea.jpg" class="logo-img"
             type="button" onclick="bigPic('img21');" />


        <img src="~/lib/Pictures/Limonada.jpg" class="logo-img"
             type="button" onclick="bigPic('img22');" />


        <img src="~/lib/Pictures/Soft Drinks.jpg" class="logo-img"
             type="button" onclick="bigPic('img23');" />




    </div>
    <div class="column middle">
        <p>
            <h2>Breakfast</h2>
            <h6>Served with hash browns and refried beans.</h6>
            <ul>
                <dl>
                    <dt><span><h4>2 Any style eggs</h4><span /><span><h4>$9.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="4" value="0" /> </p> </span></dt>
                    <dd><p>With your choice of ham, bacon, or sausage </p></dd>
                    <dt><span><h4>2 Scrambled Eggs with Chorizo</h4><span /><span><h4>$9.50</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="11" value="0"/> </p> </span></dt>
                    <dd><p>Scrambled eggs with chorizo </p></dd>
                    <dt><span><h4>Huevos Rancheros</h4><span /><span><h4>$10.50</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="12" value="0" /> </p> </span></dt>
                    <dd><p>A corn tortilla topped with 2 eggs any style, smothered in red or green chile </p></dd>
                    <dt><span><h4>Huevos a la Mexicana</h4><span /><span><h4>$9.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="5" value="0" /> </p> </span></dt>
                    <dd><p>2 Scrambled eggs with jalapenos, tomatoes, and onion  </p></dd>
                    <dt><span><h4>Oatmeal</h4><span /><span><h4>$9.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="13" value="0" /> </p> </span></dt>
                    <dd><p>Prepared with milk, cinnamon, and vanilla. Served with toast.</p></dd>
                </dl>
            </ul>
        </p>

        <p>
            <h2>Soups</h2>
            <ul>
                <dl>
                    <dt><span><h4>Caldo de Res </h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="14" value="0" /> </p> </span></dt>
                    <dd><p>Beef stew with vegetables served with a side of rice and corn tortillas. </p></dd>
                    <dt><span><h4>Menudo</h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="6" value="0" /> </p> </span></dt>
                    <dd><p>Original Mexican recipe served with bread. </p></dd>
                    <dt><span><h4>Pozole</h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="15" value="0" /> </p> </span></dt>
                    <dd><p>Hominy stew with pork, served with cabbage and bread.</p></dd>
                </dl>
            </ul>
        </p>

        <p>
            <h2>Plates</h2>
            <h6>Served with Rice, Beans, and corn or flour tortillas.</h6>
            <ul>

                <dl>
                    <dt><span><h4>Asado de Puerco</h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="16" value="0" /> </p> </span></dt>
                    <dd><p>Pork meat with chili colorado.</p></dd>
                    <dt><span><h4>Barbacoa</h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="17" value="0"/> </p> </span></dt>
                    <dd><p>All beef Chihuahua style.</p></dd>
                    <dt><span><h4>Carnitas</h4><span /><span><h4>$12.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="2" value="0" /> </p> </span></dt>
                    <dd><p>Pork meat Chihauhua style</p></dd>
                    <dt><span><h4>Enchiladas Rojas o Verdas.</h4><span /><span><h4>$9.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="7" value="0" /> </p> </span></dt>
                    <dd><p>Add beef or chicken for $2.00 </p></dd>
                    <dt><span><h4>Fajitas de Pollo</h4><span /><span><h4>$13.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="8" value="0" /> </p> </span></dt>
                    <dd><p>Served with bell pepper and onion.</p></dd>
                    <dt><span><h4>Fajitas de Res</h4><span /><span><h4>$13.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="9" value="0" /> </p> </span></dt>
                    <dd><p>Served with bell pepper and onion.</p></dd>
                    <dt><span><h4>Flautas de Res</h4><span /><span><h4>$10.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="18" value="0" /> </p> </span></dt>
                    <dd><p>Served with sour cream, guacamole, lettuce, tomatoes, and salsa.</p></dd>
                    <dt><span><h4>Chicharron en Salsa Roja o Verde</h4><span /><span><h4>$10.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="3" value="0" /> </p> </span></dt>
                    <dd><p>Pork skin with your choice of salsa.</p></dd>
                </dl>
            </ul>

        </p>

        <p>
            <h2>Desserts</h2>
            <ul>

                <dl>
                    <dt><span><h4>Arroz Con Leche</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="1" value="0"  /> </p> </span></dt>
                    <dd><p>Rice with milk, cinnamon, and raisins.</p></dd>
                    <dt><span><h4>Galletas de Mantequila</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="10" value="0" /> </p> </span></dt>
                    <dd><p>5 Butter cookies.</p></dd>
                    <dt><span><h4>Pastel de 3 Leches</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="19" value="0" /> </p> </span></dt>
                    <dd><p>A slice of homemade cake.</p></dd>
                </dl>

            </ul>
        </p>

        <p>
            <h2>Beverages</h2>
            <ul>

                <dl>
                    <dt><span><h4>Coffee</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="20" value="0" /> </p> </span></dt>
                    <dd><p>Regular or decaf.</p></dd>
                    <dt><span><h4>Ice Tea</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="21" value="0" /> </p> </span></dt>
                    <dd><p>Sweet or unsweet.</p></dd>
                    <dt><span><h4>Limonada</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" id="22" value="0" /> </p> </span></dt>
                    <dd><p>Made with lemon or lime.</p></dd>
                    <dt><span><h4>Soft Drinks</h4><span /><span><h4>$5.00</h4></span> <span> <p class="mybox"><input style="width: 75px;" type="number" value="0" id="23" /> </p> </span></dt>
                    <dd><p>Pepsi products.</p></dd>
                    <br />
                    <br />
                </dl>
            </ul>
        </p>
    </div>

    @*  this is for the hidden images that are going to be displayed when the user click the picture*@

   <div id="img1" class="pic-model">
       <input  type="button" onclick="closePic('img1');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Arroz con leche.jpg" class="big-pic" id="img1" />
   </div>
      <div id="img2" class="pic-model">
        <input type="button" onclick="closePic('img2');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Carnitas.jpg" class="big-pic" id="img2" />
   </div>
      <div id="img3" class="pic-model">
       <input  type="button" onclick="closePic('img3');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Chicharron en salsa verde.jpg" class="big-pic" id="img3" />
   </div>
      <div id="img4" class="pic-model">
       <input  type="button" onclick="closePic('img4');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Any style eggs.jpg" class="big-pic" id="img4" />
   </div>   
   <div id="img5" class="pic-model">
       <input  type="button" onclick="closePic('img5');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Huevos a la Mexicana.jpg" class="big-pic" id="img5" />
   </div>   
   <div id="img6" class="pic-model">
       <input  type="button" onclick="closePic('img6');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Menudo.jpg" class="big-pic" id="img6" />
   </div>   
   <div id="img7" class="pic-model">
        <input type="button" onclick="closePic('img7');" class="close-btn" value="X" />
       <img src="~/lib/Pictures/Enchiladas.jpeg" class="big-pic" id="img7" />
   </div>  
   <div id="img8" class="pic-model">
       <input  type="button" onclick="closePic('img8');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Fajitas de Pollo.jpeg" class="big-pic" id="img8" />
   </div>   
   <div id="img9" class="pic-model">
       <input  type="button" onclick="closePic('img9');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Fajitas de Res.jpg" class="big-pic" id="img9" />
   </div>  
   <div id="img10" class="pic-model">
       <input  type="button" onclick="closePic('img10')" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Galletas de Mantequilla.jpg" class="big-pic" id="img10" />
   </div>   
   <div id="img11" class="pic-model">
       <input  type="button" onclick="closePic('img11');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Scrambled eggs with Chorizo.jpg" class="big-pic" id="img11" />
   </div>   
   <div id="img12" class="pic-model">
       <input  type="button" onclick="closePic('img12');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Huevos Rancheros.jpg" class="big-pic" id="img12" />
   </div>  
   <div id="img13" class="pic-model">
       <input  type="button" onclick="closePic('img13');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Oatmeal.jpg" class="big-pic" id="img13" />
   </div>  
   <div id="img14" class="pic-model">
       <input  type="button" onclick="closePic('img14');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Caldo de Res.jpg" class="big-pic" id="img14" />
   </div>  
   <div id="img15" class="pic-model">
       <input  type="button" onclick="closePic('img15');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Pozole.jpg" class="big-pic" id="img15" />
   </div>  
   <div id="img16" class="pic-model">
       <input  type="button" onclick="closePic('img16')" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Asado de Puerco.jpg" class="big-pic" id="img16" />
   </div>
   <div id="img17" class="pic-model">
       <input  type="button" onclick="closePic('img17');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Barbacoa.jpg" class="big-pic" id="img17" />
   </div> 
   <div id="img18" class="pic-model">
       <input  type="button" onclick="closePic('img18');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Flautas.jpg" class="big-pic" id="img18" />
   </div> 
   <div id="img19" class="pic-model">
       <input  type="button" onclick="closePic('img19');" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Pastel de 3 leches.jpg" class="big-pic" id="img19" />
   </div> 
   <div id="img20" class="pic-model">
       <input  type="button" onclick="closePic('img20')" class="close-btn" value="X"/>
       <img src="~/lib/Pictures/Coffe.jpeg" class="big-pic" id="img20" />
   </div>  
   <div id="img21" class="pic-model">
        <input type="button" onclick="closePic('img21')" class="close-btn" value="X" />
       <img src="~/lib/Pictures/Ice Tea.jpg" class="big-pic" id="img21" />
   </div> 
   <div id="img22" class="pic-model">
        <input type="button" onclick="closePic('img22')" class="close-btn" value="X" />
       <img src="~/lib/Pictures/Limonada.jpg" class="big-pic" id="img22" />
   </div> 
   <div id="img23" class="pic-model">
        <input type="button" onclick="closePic('img23')" class="close-btn" value="X" />
       <img src="~/lib/Pictures/Soft Drinks.jpg" class="big-pic" id="img23" />
    </div>

    <div class="hide-qty">
        <p id="q1"> </p>
        <p id="q2"> </p>
        <p id="q3"> </p>
        <p id="q4"> </p>
        <p id="q5"> </p>
        <p id="q6"> </p>
        <p id="q7"> </p>
        <p id="q8"> </p>
        <p id="q9"> </p>
        <p id="q10"> </p>
        <p id="q11"> </p>
        <p id="q12"> </p>
        <p id="q13"> </p>
        <p id="q14"> </p>
        <p id="q15"> </p>
        <p id="q16"> </p>
        <p id="q17"> </p>
        <p id="q18"> </p>
        <p id="q19"> </p>
    </div>

    <div class="column right">
        <h4><p> Place your order</p></h4>
        <input type="submit" value="Submit" onclick="submitOrder();" />


    </div>

</div>


