html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo-img {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80px;
    padding: 5px;
}

.header {
    grid-area: header;
    background-color: pink;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    grid-template-areas:'left middle right';
}

.column{
    float: left;
    padding: 1%;
    height: auto;
}

.right{
    width: 17%;
}
.left {
    width: 23%;
}
.middle{
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'left middle middle middle middle right'
        'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}



/* Style the left column */
.left {
    grid-area: left;
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.mybox {
    padding-left: 20px;
    padding-right: 20px;
 
}



/*----------CSS for Modals----------*/

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 1000; /* Sit on top */

    left: 10%;
    top: 25%;
    width: 80%; /* Partial width */

    height: 50%; /* Partial height */
    /*overflow: auto;*/ /* Enable scroll if needed */

    background-color: #fafafa;
    border: black 2px solid;
    border-radius: 3px 3px;
}



.modal_fullscreen {
    position: absolute;
    z-index: 1000;
    left: 1%;
    top: 10%;
    width: 98%;
    height: 125%;
    background-color: #fafafa;
    border: black 2px solid;
    border-radius: 3px 3px;
}



/* Modal Content/Box  */

.modal-content {
    background-color: #fefefe;
    /*margin: 5rem auto 15rem auto; /* 5% from the top, 15% from the bottom and centered */

    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */

    height: 85%;
    overflow-y: auto;
}



.modal-content_fullscreen {
    background-color: #fefefe;
    /*margin: 5rem auto 15rem auto; /* 5% from the top, 15% from the bottom and centered */

    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */

    height: 92%;
    overflow-y: auto;
}



/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s;
}



@-webkit-keyframes animatezoom {

    from {
        -webkit-transform: scale(0)
    }



    to {
        -webkit-transform: scale(1)
    }
}



@keyframes animatezoom {

    from {
        transform: scale(0)
    }



    to {
        transform: scale(1)
    }
}



.modal_span {
    float: right;
    font: 30px bold;
    padding: 0px 5px 0px 5px;
}



    .modal_span:hover {
        color: red;
    }



.modal_button {
}



    .modal_button:hover {
        color: red;
    }



/*This is going to be for the pop up photos when the use clicks on them */
.pic-model{
    position:fixed;
    left:300px;
    top:250px;
    display:none;
    cursor: pointer;
    width: 470px;
    height: 375px;
    z-index: 1;
}

.big-pic { /*height and width are based on iphone 11 aspect ratio*/
    height: 575px;
    width: 812px;
    padding: 10px;
    position: relative;
    background-color: darkgrey;
}
.hide-qty{
    display:none;
}


/*------- form the cart information*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}