﻿@*@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers*@
@model GoMeal.Models.UserModel
@{
    <h1>@ViewData["Title"]</h1>
}
@*<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            URL: '/LogIn/Login',
            data: data,
            dataType: 'JSON',
            success: function (data) {
                datadata = data.status
                if (status == "1") {
                    window.location.href = '@Url.Action("LogIn","Login")';
                }
            }
        });
    });*@
</script>

<div class="grid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="row">
                <div class="col">
                    <center>
                        <img width="100px" src="" />
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <center>
                        <h3>GoMeal Login</h3>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>

            <form method="post" asp-controller="LogIn" asp-action="Login">
                <div class="mb-3">
                    <label asp-for="Email">Email address</label>
                    <input type="Email" class="form-control" name="Email" id="Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="Password" class="form-control" name="Password" id="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }

        </div>
    </div>

</div>

