﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GoMeal.Models.Person
<section class="vh-100 bg-image"
         style="background-image: url('../lib/Pictures/Huevos Rancheros.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form method="post" asp-controller="LogIn" asp-action="Register">
                                @if (ViewData["Error"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Error"]
                                    </div>
                                }
                                <div class="form-outline mb-4">
                                    <label asp-for="First_Name">First Name</label>
                                    <input type="text" class="form-control" name="First_Name" id="First_Name" asp-for="First_Name">
                                    <span asp-validation-for="First_Name" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Last_Name">Last Name</label>
                                    <input type="text" class="form-control" name="Last_Name" id="Last_Name" asp-for="Last_Name">
                                    <span asp-validation-for="Last_Name" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Email">Email address</label>
                                    <input type="text" class="form-control" name="Email" id="Email" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Password">Password</label>
                                    <input type="password" class="form-control" name="Password" id="Password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="ConfirmPassword">Repeat your password</label>
                                    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Register
                                    </button>
                                </div>
                                <p style="margin-bottom:0px" class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/Login/Login/" class="fw-bold text-body"><u>Log In here</u></a> </p>
                                <p style="margin-top:0px" class="text-center text-muted mt-5 mb-0"><a href="/Login/Login/" class="fw-bold text-body"><u>Log In as Guest</u></a></p>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                var msg = '@ViewData["result"]';
                if (msg == '1') {
                    alert("User Details Inserted Successfully");
                    window.location.href = "@Url.Action("Index", "Home")";
                }
            });
        </script>
        }
    </div>
</section>